/* Add this CSS to your budgetdetail.css file */

.budget-details-container {
  display: grid;
  grid-template-columns: 40% 10% 40%; /* Three columns with specified widths */
  grid-template-rows: 30% auto; /* Two rows with specified heights */
  gap: 20px; /* Gap between grid items */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

.budget-detail-header {
  grid-column: span 3; /* Header spans all three columns */
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: inline-block; /* Change to inline-block display */
  width: 100%; /* Ensure it takes the available width */
}

.expenses-container {
  width: 100%; /* Ensure it takes the available width */
  height: 100%; /* Ensure it takes the available height */
}

.expenses-container table {
  width: 100%;
}

.pie-chart-container {
  width: 100%; /* Ensure it takes the available width */
  height: 100%; /* Ensure it takes the available height */
}

.pie-chart-container h3 {
  margin-bottom: 10px; /* Add margin below pie chart header */
}

.expenses-container th,
.expenses-container td {
  text-align: center;
}

.expense-row:nth-child(even) {
  background-color: rgba(246, 12, 230, 0.8); /* Light gray background color for even rows */
}

.expense-row:nth-child(odd) {
  background-color: rgba(252, 121, 34, 0.8); /* Lighter gray background color for odd rows */
}

.expense-header,
.pie-chart-header {
  text-align: center;
}
